<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#" (click)="changeTooltip()"><i
                    class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="#">
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <ng-container *ngIf="utils.logadoComum; else naoLogado">
                <li style="padding: 20px">
                    <span class="m-r-sm text-muted welcome-message">Olá, {{ nomeCliente }}</span>
                </li>

                <li>
                    <a class="count-info" [routerLink]="['/produtos/carrinho']">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </li>

                <li>
                    <a (click)="shutDown()">
                        <i class="fa fa-sign-out"></i> Sair
                    </a>
                </li>
            </ng-container>
            <ng-template #naoLogado>
                <li>
                    <a class="count-info" [routerLink]="['/login']">
                        <i class="fa fa-sign-in"></i> Entrar
                    </a>
                </li>
                <li>
                    <a class="count-info" [routerLink]="['/produtos/carrinho']">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </li>
            </ng-template>

        </ul>

    </nav>
</div>