<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Mercadinho Universal</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a [routerLink]="[ '/' ]">Produtos</a>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<!-- Criar o ng for na tag de baixo a de cima é para formar linhas-->
		<div class="col-md-3" *ngFor="let produto of produtos">
			<div class="ibox">
				<div class="ibox-content product-box">

          <a [routerLink]="['editar', produto.id]">
            <div class="product-imitation">
              <img src="{{ produto.imagem }}" alt="img_produto" class="img_produto">
            </div>
          </a>
					<div class="product-desc">
						<span class="product-price">
							{{ produto.preco | currency }}
						</span>
						<small class="text-muted">{{ produto.tag }}</small>
						<ng-container *ngIf="utils.logadoAdmin; else commonUser1">
							<a [routerLink]="['editar', produto.id]" class="product-name"> {{ produto.nome }}</a>
						</ng-container>
						<ng-template #commonUser1>
							<a (click)="adicionarCarrinho(produto);" class="product-name"  > {{ produto.nome }}</a>
						</ng-template>

						<div class="small m-t-xs">
							{{ produto.descricao }}
						</div>
						<div class="m-t text-righ">
							<a (click)="adicionarCarrinho(produto)"
								[swal]="['Produto adicionado ao carrinho!', '', 'success']"
								class="btn btn-xs btn-outline btn-primary">Adicionar ao Carrinho <i
									class="fa fa-long-arrow-right"> </i> </a>
							<a *ngIf="utils.logadoAdmin" class="btn btn-xs btn-outline btn-danger"
								(click)="apagarProduto(produto.id)"
								[swal]="['Produto removido com sucesso!', '', 'success']"> Apagar produto <i
									class="fa fa-trash"></i> </a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3"  *ngIf="utils.logadoAdmin">
			<div class="ibox">
				<p class="text-center" id="iconPlus">
					<a [routerLink]="[ '/produtos','adicionar']"><i class="fa fa-plus-circle fa-5x"></i></a>
				</p>
			</div>
		</div>
	</div>
</div>
