<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Editar Produto</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a [routerLink]="[ '/produtos']">Produtos</a>
			</li>
			<li class="breadcrumb-item">
				<a [routerLink]="[ '/editar']">Editar</a>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
	<div class="row">
		<div class="col-lg-12">
			<div class="tabs-container">
				<ul class="nav nav-tabs">
					<li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Informações do Produto</a></li>
				</ul>
				<div class="tab-content">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">

							<form [formGroup]="produtoForm" (ngSubmit)="salvarProduto()">
								<div class="form-group row"><label class="col-sm-2 col-form-label">Nome</label>
									<div class="col-sm-10"><input type="text" class="form-control"
											formControlName="nome" name="nome" placeholder="">
									</div>
								</div>
								<div class="form-group row"><label class="col-sm-2 col-form-label">Preço</label>
									<div class="col-sm-10"><input formControlName="preco" name="preco" type="text"
											class="form-control" placeholder=""></div>
								</div>
								<div class="form-group row"><label class="col-sm-2 col-form-label">Descrição</label>
									<div class="col-sm-10">
										<input formControlName="descricao" name="descricao" type="text"
											class="form-control" placeholder="">

									</div>
								</div>
								<div class="form-group row"><label class="col-sm-2 col-form-label">Tag /
										Categoria</label>
									<div class="col-sm-10"><input formControlName="tag" name="tag" type="text"
											class="form-control" placeholder="">
									</div>
								</div>
								<div class="table-responsive">
									<table class="table table-bordered table-stripped">
										<thead>
											<tr>
												<th>
													Image preview
												</th>
												<th>
													Path
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<img class="imgResize"
														src="{{ imagem }}">
												</td>
												<td>
													<input formControlName="file" name="file" type="file"
														class="form-control" (change)="onFileChange($event)">
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<button *ngIf="id" class="btn btn-primary" type="submit">Editar</button>
								<button *ngIf="!id" class="btn btn-primary" type="submit">Salvar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
