<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="page-wrapper" class="gray-bg">
        <app-header></app-header>
        <div class="wrapper wrapper-content animated fadeInRight">
            <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>