<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Clientes</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a [routerLink]="[ '/clientes' ]">Clientes</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
	<form [formGroup]="clientForm" (ngSubmit)="submit()">
		<div class="ibox-content m-b-sm border-bottom">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label" for="nome">Nome</label>
						<input type="text" id="nome" name="nome" value="" placeholder="Nome" class="form-control"
							formControlName="nome">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label" for="email">Email</label>
						<input type="text" id="email" name="email" value="" placeholder="Email" class="form-control"
							formControlName="email">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label" for="senha">Senha</label>
						<input type="password" id="senha" name="senha" value="" placeholder="senha" class="form-control"
							formControlName="senha">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label" for="senha">Status</label>
						<select class="form-control m-b" formControlName="ativo" name="ativo">
							<option value="true" ng-selected="true" selected aria-selected="true">Ativo</option>
							<option value="false" *ngIf="utils.logadoAdmin">Desativo</option>
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label" for="senha">Tipo</label>
						<select class="form-control m-b" formControlName="tipo" name="tipo">
							<option value="admin" *ngIf="utils.logadoAdmin">Admin</option>
							<option value="comum" selected aria-selected="true">Comum</option>
						</select>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label" for="endereco">Endereço</label>
						<input type="text" id="endereco" name="endereco" value="" placeholder="endereco"
							class="form-control" formControlName="endereco">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-3">
					<div class="form-group">
          <button type="submit" class="btn btn-primary full-width m-b">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="row" *ngIf="utils.logadoAdmin">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">

					<table class="footable table table-stripped toggle-arrow-tiny default footable-loaded"
						data-page-size="15">
						<thead>
							<tr>

								<th class="footable-visible footable-first-column footable-sortable">Nome<span
										class="footable-sort-indicator"></span></th>
								<th data-hide="phone" class="footable-visible footable-sortable">Email<span
										class="footable-sort-indicator"></span></th>
								<th data-hide="phone" class="footable-visible footable-sortable">Ativo<span
										class="footable-sort-indicator"></span></th>
								<th data-hide="phone,tablet" class="footable-visible footable-sortable">Tipo<span
										class="footable-sort-indicator"></span></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let cliente of listaDeClientes">
								<td class="display-none-520">{{cliente.nome }}</td>
								<td class="display-none-520">{{cliente.email}}</td>
								<td>{{cliente.ativo}}</td>
								<td>{{cliente.tipo}}</td>
								<td><button class="btn btn-primary" (click)="editClient(cliente.id)">Editar</button>
								</td>
								<td><button class="btn btn-danger" [swal]="['Deletado!', '', 'success']"
										(click)="deleteClient(cliente.id)">Deletar</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
