<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <img alt="image" id="photoCliente" class="rounded-circle" src="../../../assets/ecomerce.png" />
          <a href="#">
            <span id="nameCliente" class="block m-t-xs font-bold">Mercadinho Universal</span>
          </a>
        </div>
        <div class="logo-element">
          <img alt="image" id="photoClienteMenor" class="rounded-circle" src="../../../assets/ecomerce.png" />
        </div>
      </li>
      <li class="li_nav active" *ngIf="utils.logadoAdmin">
        <a [routerLink]="['/clientes']"><i class="fa fa-users"></i> <span class="nav-label">Clientes</span></a>
      </li>
      <li class="li_nav active">
        <a [routerLink]="['/produtos']"><i class="fa fa-money"></i> <span class="nav-label">Produtos</span></a>
      </li>
    </ul>
  </div>
</nav>