#photoCliente {
    left: 50%;
    margin-left: -4rem;
    position: relative;
    height: 8rem;
    width: 8rem;
}

#photoClienteMenor{
    height: 3rem;
    width: 3rem;
}

#nameCliente {
    text-align: center;
    font-size: 1.1rem;
}