<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Carrinho</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a [routerLink]="[ '/' ]">Produtos</a>
			</li>
			<li class="breadcrumb-item">
				<a [routerLink]="[ '/produtos/carrinho' ]">Carrinho</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">



	<div class="row">
		<div class="col-md-9">

			<div class="ibox">
				<div class="ibox-title">
					<span class="float-right">(<strong>{{quantidadeTotalItems}}</strong>) items</span>
					<h5>Itens no carrinho</h5>
				</div>
				<!--Criar o ng for na tag de baixo-->
				<div class="ibox-content">


					<div class="table-responsive">
						<table class="table shoping-cart-table">

							<tbody>
								<tr *ngFor="let pedido of listaDePedidos; let i = index;">
									<td width="90">
										<div class="cart-product-imitation">
											<img src="{{pedido.imagem}}" width="90" height="90">
										</div>
									</td>
									<td class="desc">
										<h3>
											<a class="text-navy">
												{{pedido.nome}}
											</a>
										</h3>
										<dl>
											<dt>Tag</dt>
											<dd>{{pedido.tag}}</dd>
										</dl>

										<dl>
											<dt>Descrição</dt>
											<dd>{{pedido.descricao}}</dd>
										</dl>

										<div class="m-t-sm">
											<a class="text-muted" (click)="apagarPedido(i, pedido.id_pedido)"><i
													class="fa fa-trash"></i> Remover item</a>
										</div>
									</td>

									<td>

										<p class="precoPedido" style="float:right"> {{pedido.preco | currency}}</p>
									</td>
									<td width="65">
										<input type="text" class="form-control" value="{{pedido.quantidade}}"
											(keyup)="getTotal($event, pedido)">
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<div class="ibox-content">

					<button *ngIf="id_usuario" class="btn btn-primary float-right" (click)="finalizarPedido()" [swal]="['Pedido finalizado com sucesso, verifique seu e-mail!', '', 'success']">
            <i class="fa fa fa-shopping-cart"></i>
            Finalizar
          </button>

          <button *ngIf="!id_usuario" class="btn btn-primary float-right" (click)="finalizarPedido()" [swal]="['Você precisa fazer login!', '', 'alert']">
              <i class="fa fa fa-shopping-cart"></i>
              Finalizar
            </button>

					<button class="btn btn-white" [routerLink]="[ '/']	"><i class="fa fa-arrow-left"></i> Continue
						Comprando</button>

				</div>
			</div>

		</div>
		<div class="col-md-3">

			<div class="ibox">
				<div class="ibox-title">
					<h5>Resumo do carrinho</h5>
				</div>
				<div class="ibox-content">
					<span>
						Total
					</span>
					<h2 class="font-bold">
						{{getTotal() | currency}}
					</h2>

					<hr>
					<span class="text-muted small">
						*As taxas de frete são aplicadas para todos os países!
					</span>
				</div>
			</div>

			<div class="ibox">
				<div class="ibox-title">
					<h5>Suporte</h5>
				</div>
				<div class="ibox-content text-center">

					<h3><i class="fa fa-phone"></i> (14) 99625-4788</h3>
					<span class="small">
						Entre em contato em casos de duvidas! Gratos!
					</span>


				</div>
			</div>
		</div>
	</div>
</div>
